*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
body{
   
   font-family:monospace;
   font-size: larger;
   background-color: #EFEAE3;
   margin-bottom: 50px;
   
}

main {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0.5em 0;

}

p{
   color: #00449A;
   margin-bottom: 1em;
}
a{
   color: #00449A;
   text-decoration: none;  
}
a:hover{
   color: #76AEED;
   color: #B55000;
}
h1, h2, h4{
   color: #B55000;
}

h2, h4{
   padding: 0.5em 0;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
