


.main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width:70%;
   margin:5px auto;
}

.title{
   padding: 0.5em 0;
}

.intro{
   display: flex;
   flex-direction: row;
   text-align: left;
}

.desc{
   padding-right: 1.5em;
}

.star{
   height:18px;
   width:19px;
}

.food_img{
   height:180px;
   margin-left: auto;
}
